<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="log4j2-xinclude-appenders.xml"/>
  <Loggers>
    <!-- General Logging Control -->
    <Root level="INFO">
      <AppenderRef ref="StdOut"/>
    </Root>

    <!-- Logging Control of MGB and Custom MBG Plugins -->
    <Logger name="org.mybatis.generator" level="INFO"/>
    <Logger name="com.madefu.mybatisgeneratorplugin" level="INFO"/>

    <!-- Logging Control of MyBatis -->
    <Logger name="org.mybatis" level="INFO"/>
    <Logger name="org.apache.ibatis" level="INFO"/>

    <!-- Logging Control of Other Tools -->
    <Logger name="org.apache.commons" level="INFO"/>
  </Loggers>
</Configuration>
